{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}

<h1 class="text-center mb-4 fw-bold">Главная</h1>

<div class="container px-4 py-5" id="pricing">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 text-center">
    <!-- Карточка 1 -->
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Товар 1</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$100<small class="text-muted fs-6">/month</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
        </div>
      </div>
    </div>
    <!-- Карточка 2 -->
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Товар 2</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$100<small class="text-muted fs-6">/month</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
        </div>
      </div>
    </div>
    <!-- Карточка 3 -->
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Товар 3</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$100<small class="text-muted fs-6">/month</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Мелкий текст внизу -->
<div class="text-center mt-3 text-muted" style="font-size: 0.75rem;">
  Вы находитесь на сайте, предназначенном для продажи товаров.
</div>

{% endblock %}