<div class="bg-dark text-white p-3 col-3">
    <h5>Меню</h5>
    <ul class="list-unstyled">
        <li><a href="/" class="text-white">Главная</a></li>
        <li><a href="/catalog" class="text-white">Категории</a></li>
        <li><a href="/orders" class="text-white">Заказы</a></li>
        <li><a href="/contacts" class="text-white">Контакты</a></li>
    </ul>
    <hr class="border-white">
    <h6>Профиль</h6>
    <ul class="list-unstyled">
        <li><a href="#" class="text-white">Выход</a></li>
    </ul>
    <div class="mt-3">Пользователь</div>
</div>
